@{
    ViewData["Title"] = "Home Page";
}

<b>
    <p>
        Blogger is Totally New Software Technology Learning Experience.
        Here you learn by practice or step by steps. We take lots of efforts to take
        tedium out uf learning and make education a fun experience.
        Inside you will find plenty of blogs or video tutorials
    </p>
</b>